.Rproj.user
.Rhistory
.RData
.Ruserdata
odaniel1.github.io.Rproj
_posts/2021-07-25-bromans-socks/bromans-socks_files/
_posts/2021-07-25-bromans-socks/bromans-socks_cache/
_posts/2021-07-25-bromans-socks/bromans-socks.html
posts/2021-07-25-bromans-socks/bromans-socks_files/
